/* Para Chrome, Safari, Edge y Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Para Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/*los hiden para elementos ligados al dropdown*/
.hidden {
  display: none;
}
#dpa-titular-group,
#dpa-dueno-vehiculo-group {
  display: none;
}      
